.calculator {
  font-family: monospace;
  background-color: #333;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  font-size: 18px;
}

.buttons button {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 10px;
}

.winner {
  color: goldenrod;
}

.no-padding-top {
  margin-top: 4px;
}

.no-margin-left {
  margin-left: 0;
  padding-left: 0;
}

.logo {
  height: 30px;
}